html {
	top: 0;
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.circle {
	position: absolute;
	background-color: red;
	border-radius: 50%;
}

.line {
	position: absolute;
	border: 3px solid black;
	z-index: -1;
}

div#canvas {
	position: relative;
	border: 4px solid #0a0f1d;
	width: 90%;
	height: 80%;
	margin: auto;
}
