html {
	top: 0;
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#canvas {
	position: relative;
	display: block;
	border: 4px solid #0a0f1d;
	width: 90%;
	height: 80%;
	margin: auto;
}
