* {
	box-sizing: border-box;
}

html {
	top: 0;
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}

.main-title {
	text-align: center;
}

#canvas {
	border: 4px solid #0a0f1d;
	width: 80%;
	height: 80%;
}

#info {
	display: flex;
	justify-content: space-around;
	border: 4px solid #0a0f1d;
	width: 80%;
	height: 10%;
}

#info div {
	display: flex;
	/* border: 1px solid dodgerblue; */
}

.controls {
	width: 10em;
}

.c-pad {
	flex-wrap: wrap;
}

.c-colors {
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.states {
	/* border: 1px solid dodgerblue; */
	align-self: center;
	flex-flow: column wrap;
	justify-content: space-around;
	width: 5em;
	height: 5em;
}

.s-title {
	margin: 0;
	text-align: center;
	border: 1px solid red;
}

.s-value {
	margin: 0;
	/* border: 1px solid red; */
	font-size: 2.5em;
	text-align: center;
}